:root {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    box-sizing: border-box;
}

.container {  
    margin: 65px 15%;
    box-shadow: 3px 3px 5px 6px #ccc;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}
.user{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input{
    width: 70%;
    font-size: 18px;
    padding: 10px; 
   margin: 2vw auto;
    border-radius: 1vw;
}
input[type="text"]
{
font-size:12px;
}
button{
    padding: 10px 15px;
    width: 30%;
    color: aliceblue;
    border: none;
    background-color:rgb(58, 190, 251);
    border-radius: 11px;
    font-size: 18px;
}
button:hover{
  background: rgb(34, 135, 198);
}
span{
padding:10px;   
 font-size: 18px;
    color:gray;
    font-family:'Courier New', Courier, monospace;
}
hr{
    margin: 0 50px auto;

}
.catg{
    text-align: center;
}
h2{
    font-size:45px;
    color: rgb(95, 179, 240);
}
.catg1{
    display: flex;
    margin: 2vw auto;
    /* padding: auto 1vw; */
    justify-content: space-around;
    
}
.catg2{
    display: flex;
    margin: 2vw auto;
    justify-content: space-around;
}
.quz{
    border: 1px solid rgb(95, 179, 240);
    border-radius: 12px;
    padding: 10px;
    width: 35%;
    color:rgb(95, 179, 240);
}
a{
    text-decoration: none;
    width: 8%;
    margin-bottom: 20px;
}
a:hover{
    background: rgb(95, 179, 240);
    color:white;
}